<div>
  <input type="text" [formControl]="searchControl" />
  <ag-grid-angular
    #agGrid
    class="ag-theme-balham app-grid"
    [rowData]="(rowData | async)"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [context]="context"
    [sideBar]="sideBar"
    [modules]="modules"
    [rowSelection]="rowSelection"
    [suppressRowClickSelection]="true"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    [icons]="icons"
    (rowSelected)="onRowSelected($event)"
    (modelUpdated)="onModelUpdated()"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
